@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

//Variable Fonts

$typography: 'Poppins', sans-sarif;

//Variable Colors

$background: #FFFFFF;
$color-primary: #FF5800;
$color-secondary: #E5E5E5;
$color-text: #333333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 60% /*controle das medidas rem */;
}

body {
  background: $background;
  font-family: $typography;
}

body,
input,
textarea,
button {
  font-family: $typography;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: $typography;
  font-weight: 600;
}

button,
a {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

